<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login/Signup Form</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
    <body>

        <!-- credits to the writter @leonam-silva-de-souza -->
        <div class="container">
            <div class="form-box login">
                <form action="#">
                    <h1>Login</h1>
                    <div class="input-box">
                        <input type="text" placeholder="Username" required>
                        <i class='bx bxs-user'></i>
                    </div>
                    <div class="input-box">
                        <input type="password" placeholder="Password" required>
                        <i class='bx bxs-lock-alt' ></i>
                    </div>
                    <div class="forgot-link">
                        <a href="#">비밀번호를 잊으셨나요?</a>
                    </div>
                    <button type="submit" class="btn">Login</button>
                </form>
            </div>

            <div class="form-box register">
                <form action="/signup" method="POST">
                    <h1>Welcome</h1>
                    <div class="input-box">
                        <input type="text" name="username" placeholder="Username" required>
                        <i class='bx bxs-user'></i>
                    </div>
                    <div class="input-box">
                        <input type="email" name="email" placeholder="Email" required>
                        <i class='bx bxs-envelope' ></i>
                    </div>
                    <div class="input-box">
                        <input type="password" name="password" placeholder="Password" required>
                        <i class='bx bxs-lock-alt' ></i>
                    </div>
                    <div class="input-box">
                        <input type="text" name="name" placeholder="이름" required>
                        <i class='bx bxs-user'></i>
                    </div>
                    <div class="input-box">
                        <input type="text" name="address" placeholder="주소" required>
                        <i class='bx bxs-map'></i>
                    </div>
                    <div class="input-box">
                        <input type="tel" name="phone" placeholder="전화번호" required>
                        <i class='bx bxs-phone'></i>
                    </div>
                    <div class="input-box">
                        <input type="date" name="previousUsageDate" placeholder="이전 캠핑카 사용 날짜">
                        <i class='bx bxs-calendar'></i>
                    </div>
                    <div class="input-box">
                        <input type="text" name="previousCampingCarType" placeholder="이전 사용 캠핑카 종류">
                        <i class='bx bxs-car'></i>
                    </div>
                    <button type="submit" class="btn">회원가입</button>
                </form>
            </div>

            <div class="toggle-box">
                <div class="toggle-panel toggle-left">
                    <h1>Hello, Welcome!</h1>
                    <p>계정이 없으신가요?</p>
                    <button class="btn register-btn">Register</button>
                </div>

                <div class="toggle-panel toggle-right">
                    <h1>Welcome Back!</h1>
                    <p>계정이 있으신가요?</p>
                    <button class="btn login-btn">Login</button>
                </div>
            </div>
        </div>

        <script src="{{ url_for('static', filename='script.js') }}"></script>

    </body>
</html>